body{
	margin:0px;
	padding:0px;
	overflow-x: hidden;
}
.cistac{
	clear:both;
}

a{
	text-decoration:none;
}
ul{
	list-style:none;
}

.flex-class{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*HEADER*/
header{
	width:100%;
	background-color: cadetblue ;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
header #header-sadrzaj{
	width:1300px;
	height:100px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
header #header-sadrzaj #logo img{
	width:150px;
	height:63px;
	margin:20px 0px 16px 0px;
	float:left;
}
header #header-sadrzaj #meni{
	width:930px;
	height:100%;
	text-align:center;
	font-family:verdana;
	float:left;
}

header #header-sadrzaj #meni ul li{
	display:inline-block;
}

header #header-sadrzaj #meni ul li a{
	padding:8px;
	color:white;
	font-size:16px;
	margin-left:20px;
	text-align:center;
}

header #header-sadrzaj #meni ul li a:hover{
	background-color:#ffffff;
	border-radius:15px;
	color:#000000;
	transition:background-color 0.5s linear;
}

#odjavi-se{
	background-color: #4CAF50;
  	color: white;
	padding:8px 20px;
	font-size:16px;
  	border: none;
  	cursor: pointer;
	border-radius: 5px;
}

#odjavi-se:hover{
    background-color:red;
	color:white;
	transition:background-color 0.5s ease;
	transition:color 0.5s ease;
}

#meni{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*----------------------------------------------*/

/*main*/
.main{
	width:100%;
	background: #f7f7f7;
}
.mainHeight{
    min-height: 90vh;
}
/*----------------------------------------------*/

/*footer*/
footer{
	width:100%;
	height:100px;
	background-color:cadetblue;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

footer #footer-sadrzaj{
	width:1300px;
	height:100%;
	margin:0px auto;
}
footer #footer-sadrzaj #footer-tekst{
	text-align:center;
	font-size:12px;
	font-family:verdana;
	color: white;
	margin-bottom:20px;
	padding-top:20px;
}
/*----------------------------------------------*/

/*scroll-to-top*/
#scroll-to-top {
    background-color: rgba(255,20,20,0.5);
    display:none;
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    position: fixed;
    right: 20px;
	bottom: 50px;
	border: 0px;
	border-radius:3px;
	cursor: pointer;
	z-index: 999;
}

#scroll-to-top:hover {
    background-color: rgba(255,20,20,0.8);
    color:#c3c3c3;
}

/*----------------------------------------------*/


#cookie-info{
    width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
    color:white;
    background-color:rgba(70,70,70,0.9);
	font-size:22px;
    text-align: center;
    position: fixed;
	bottom:0;
	display: none;
	z-index: 900;
}
#cookie-info p{
	margin:5px;
	font-size: 20px;
	
}
#cookie-button{
    color:white;
	margin:0px;
	padding: 8px 25px 8px 25px;
	font-size:20px;
    background-color: rgba(250,20,20,0.5);
	border-radius:5px;
    cursor: pointer;
}
#cookie-button:hover{
    background-color:rgba(250,20,20,0.8);
	color:rgba(255,255,255,0.7);
	transition:background-color 0.5s ease;
	transition:color 0.5s ease;
}

/*----------------------------------------------*/


/*login*/
#login{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#login>form{
	width: max-content;
	height: max-content;
	padding: 50px;
	background-color: #ffffff;
	box-shadow: 5px 5px 5px 5px #888888;
	display: flex;
	flex-direction: column;
}

#login form div{
	margin-bottom: 15px;
}

#login input[type=text], #login input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
}

.border-ccc{
	border: 1px solid #ccc;
}


.dugme{
	background-color: #4CAF50;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 100%;
}

.poruka span{
	color: red;
	display:none;
}

.poruka-border{
	border:2px solid red;
	transition:0.5s;
}



  

/*----------------------------------------------*/

/*input number neprikazivanje spinera*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*----------------------------------------------*/

/*404*/
#div-404{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#slika-404{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#div-404 a{
	background-color: #4CAF50;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
	width: 150px;
	border-radius: 5px;
	text-align: center;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

#div-404 a:hover{
    background-color:red;
	color:white;
	transition:background-color 0.5s ease;
	transition:color 0.5s ease;
}
/*----------------------------------------------*/

/*kontakt.php*/
#kontakt-levo{
	float:left;
}

#kontakt-desno{
	float:right;
}

#kontakt-desno form{
	float:right;
	margin:50px 35px;
	width:500px;
	height:600px;
}
#kontakt-desno form table {
	width:500px;
	height:600px;
	background-color:rgba(68, 75, 83, 0.4);
	border-radius:30px;
}

#kontakt-desno form table tr td label{
	color:white;
	margin:10px;
	padding-left:10px;
	font-family:georgia;
	font-size:22px;
}
#kontakt-desno form table tr td .desno{
	padding-left:20px;
	width:250px;
	height:50px;
	border-radius:5px;
}

#kontakt-desno form table tr td button{
	width:120px;
	height:45px;
	margin-right: 30px;
	float:right;
	background-color: #4CAF50;
	color:white;
	cursor:pointer;
	border-radius:15px;
	border:0px;
	font-family:georgia;
	padding:8px 20px;
	font-size:16px;
}
#kontakt-desno form table tr td button:hover{
	background-color:red;
	color:white;
	transition:background-color 0.5s ease;
	transition:color 0.5s ease;
}

#kontakt-levo #kontakt-tekst{
	float:left;
	margin-left:100px;
	color:black;
	font-family:georgia;
}
#kontakt-levo #kontakt-tekst a{
	color:blue;
	font-style:italic;
}
#kontakt-levo #kontakt-tekst h1{
	margin-top:50px;
	margin-bottom:50px;
	font-size:40px;
}
#kontakt-levo #kontakt-mapa{
	width:600px;
	height:450px;
	margin-top:200px;
	margin-left:100px;
	border:3px solid rgba(90,150,220,0.2);
	border-radius:4px;
}
#main #main-sadrzaj .poruka{
	position:relative;
}
#main #main-sadrzaj .poruka span{
	color:rgba(250,250,250,0.7);
	font-family:georgia;
	position:absolute;
	top:3px;
	left:5px;
	display:none;
}
.poruka-border{
	border:2px solid red;
	transition:0.5s;
}

/*snackbar kontakt*/
#snackbar, #snackbar-promena-lozinke, #snackbar-uplata-obroka  {
	visibility: hidden; 
	min-width: 250px; 
	margin-left: -125px; 
	background-color: dimgray; 
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 50;
	left: 50%;
	bottom: 30px;
  }
  
  #snackbar.show, #snackbar-promena-lozinke.show, #snackbar-uplata-obroka.show  {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }

/*----------------------------------------------*/

/*student_moji_podaci*/
#podaci{
	padding-top: 100px;
	padding-bottom: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#podaci-prvi-red, #podaci-drugi-red{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: start;
	width: 100%;	
}
#podaci-drugi-red{
	margin-top:50px;
}

.podaci-klasa{
	width: 500px;
}


#profilna-slika img{
	width: 256px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#podaci table{
	background-color:rgba(68, 75, 83, 0.4);
	border-radius: 10px;
	margin:auto;
	padding: 10px;
}

#podaci table span{
	color:white;
	margin:10px;
	padding-left:10px;
	font-family:georgia;
	font-size:22px;
}

#podaci table tr td{
	padding: 10px;
}
/*----------------------------------------------*/


/*promena_lozinke*/

#main-promena-lozinke{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0px;
}

#main-promena-lozinke>form{
	width: max-content;
	height: max-content;
	padding: 50px;
	background-color: #ffffff;
	box-shadow: 5px 5px 5px 5px #888888;
	display: flex;
	flex-direction: column;
}

#main-promena-lozinke form div{
	margin-bottom: 15px;
}

#main-promena-lozinke input[type=text], #main-promena-lozinke input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
}

.poruka-lozinke{
	margin-left:1.2em;
}


/*----------------------------------------------*/


/*uplata-obroka*/


#uplata-sadrzaj{
	padding: 100px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#main-uplata-obroka{
	width: 450px;
	background-color:rgba(68, 75, 83, 0.4);
	border-radius:30px;
	padding: 30px 20px;
}

.uplata-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top:20px;
	margin-bottom: 20px;
}

.uplata-flex p{
	color:white;
	margin:10px;
	padding-left:10px;
	font-family:georgia;
	font-size:22px;
	width: 20em;
}

#main-uplata-obroka span{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #f7f7f7;
	border-radius:5px;
	font-family:georgia;
	font-size:16px;
	padding:20px;
}

#main-uplata-obroka button{
	width:120px;
	height:45px;
	margin-right: 30px;
	float:right;
	background-color: #4CAF50;
	color:white;
	cursor:pointer;
	border-radius:15px;
	border:0px;
	font-family:georgia;
	padding:8px 20px;
	font-size:16px;
}

#main-uplata-obroka input{
	padding-left:20px;
	width:50px;
	height:50px;
	border-radius:5px;
	font-family:georgia;
	font-size:16px;
	text-align: center;
}

#main-uplata-obroka button:hover{
	background-color:red;
	color:white;
	transition:background-color 0.5s ease;
	transition:color 0.5s ease;
}

.strelice{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
}

.strelice i{
	cursor: pointer;
	color: white;
}

.nije-validna{
	width: 50%;
	margin: 0 auto;
	padding: 30px 0px;
	background-color: rgba(250,20,20,0.8);
    border-radius: 30px;
    color:white;
}
.nije-validna h1{
	text-align: center;
}
 
  
/*----------------------------------------------*/

/*lista racuna*/
.tabela{
	padding: 70px 30px;
}

.paginacija{
	margin-bottom: 30px;
}

.paginacija li{
	cursor: pointer;
}

.aktivna{
	color: white;
	background-color: #007BFF;
}

/*----------------------------------------------*/



/*admin poruke*/
#poruke-sadrzaj{
	padding-top: 100px;
	padding-bottom: 100px;
	width: 75%;
	margin: 0px auto;
}

.panel-heading{
	cursor: pointer;
}

.panel-heading h4{
	padding:8px;
	font-size:16px;
	margin-left:5px;
}

.panel-body table tr td{
	padding: 0px 13px;
}
.panel-body .tekst-poruke{
	margin:20px 13px;
}

.poruke-b{
	font-weight: bold;
}

/*----------------------------------------------*/


/*admin kreiraj karticu*/

#kreiraj-karticu{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0px;
}


#kreiraj-karticu>form{
	width: max-content;
	height: max-content;
	padding: 50px;
	background-color: #ffffff;
	box-shadow: 5px 5px 5px 5px #888888;
	display: flex;
	flex-direction: column;
}

#kreiraj-karticu form div{
	margin-bottom: 15px;
}

#kreiraj-karticu input[type=text], #kreiraj-karticu input[type=date], #kreiraj-karticu select{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
}

input::-webkit-calendar-picker-indicator:hover, #kreiraj-karticu select:hover, #kreiraj-karticu input[type=radio]:hover, .radiobtn label:hover{
	cursor: pointer;
}

.kkFlex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#kreiraj-karticu .poruka span{
	text-align: center;
}

#kk-div-slika{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#kkSlika{
	display: none;
}

#btnSlika{
	background-color:red;
	width: 50%;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
}

#b64{
	display:none;
}
/*----------------------------------------------*/

/*admin pocetna*/

/*----------------------------------------------*/
